@media (max-width: 900px) {
  #page-ideias section#idea {
    grid-template-columns: 1fr;
  }
  #page-ideias .idea {
    min-width: 215px;
  }

  #page-ideias .idea .link {
    justify-content: flex-end;
    gap: 60px;
  }
}

@media screen and (max-width: 768px){
  #container{
    flex-direction: column;
    position: relative;
  }

  #intro {
    width: auto;
  }

  #index footer {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%)
  }
}

@media screen and (max-width: 690px){
  #page-ideias header {
    flex-direction: column-reverse;
    gap: 60px;
  }

  #page-ideias header nav {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 540px){
  .idea .content {
    padding: 0;
  }
}

@media screen and (max-width: 425px){
  .idea {
    min-width: 215px;
  }

  .idea-header {
    flex-direction: column;
  }

  .idea img {
    margin: 0;
  }

  .idea p {
    display: flex;
    justify-content: center;
  }
}