
/******************* Tela de Ideias ****************/


/* --------------Globais------------- */

body{
    background: #e5e5e5;
    color: #252828;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    
}

body.hideScroll{
    overflow: hidden;
}

a{
    font-weight: bold;
    color: #dc143c;
    text-decoration: none;
    font-size: 14px;
}
a:hover{
    text-decoration: underline
}

button {
    font-family: 'Montserrat', sans-serif;
}

p, .description{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1px;
}


/* -------------Especificos----------- */

#container{
    width: 90%;
    max-width: 980px;
    margin: 80px auto 0;
    display: flex;
}

header img{
    display: block;
    margin: auto;
}

#intro{
    width: 300px;
    margin-right: 20px;
}

main{
    margin: 32px 0;
}

#buttons{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;
}

button{
    background: none;
    border: none;
    color: #dc143c;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    letter-spacing: 0.2px;
    cursor: pointer;
    outline: none;
}

button:hover{
    text-decoration: underline;
}


button.fat{
    text-decoration: none;    
    background: #dc143c;
    color: #e5e5e5;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 4px 8px 10px rgba(255, 0, 92, 0.16);
}

footer{
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: #777
}

footer a{
    text-decoration: none;
    opacity: 0.7;
}

.empty{
    width: 660px;
    height: 230px;
    background:#fff;
    margin-bottom: 16px;
    margin: auto;
    cursor: pointer; 
    box-shadow: 04px 08px 16px -8px black;
    transition: .5s;
    display:flex;
    justify-content:center;
    align-items:center;
}

.empty:hover{
    transform: scale(1.04);   
}

.empty img{
    width: 50px; 
}


#last-idea{
    margin-bottom: 80px;
}

.idea {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    background: white;
    margin-bottom: 16px;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 04px 08px 16px -8px black;
}

.idea-header {
    display: flex;
    align-items: center;
}

.idea .content{
    width: auto;
    padding-left: 92px;
}

.idea img{
    width: 60px;
    height: 60px;
    margin-right: 32px;
}

.idea h3{
    margin: 0px;
}

.idea p{
    margin-top: 8px;
    color: #777;
}

.idea .description{
    margin: 16px 0px;
}

.idea .link {
    display: flex;
    justify-content: space-between;
}


/******************* Tela Nova Ideia ************/

#modal{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    transition: .6s;
}

#modal .content{
    background: #dc143c;
    margin: 5% auto auto;
    color: white;
    border-radius: 6px;
}

#modal.hide{
    opacity: 0;
    visibility: hidden;
}

#modal.addScroll{
    overflow: hidden;
}

#modal .content h1{
    text-align: center;
    text-transform: uppercase;
}

form #grid-form{
    width: 80%;
    max-width: 600px;
    margin: 0 auto 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

form div:nth-child(3), 
form div:nth-child(4),
form div:nth-child(5) {
    grid-column: span 2;
}

form input, textarea{
    width: 100%;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid rgba(141, 15, 50, 0.5);
    font-size: 12px;
    box-sizing: border-box; 
}

form label{
    font-weight: 600;
    line-height: 3px;
    letter-spacing: 1px; 
}

form button, a.button {
    width: 150px;
    height: 40px;
    background: #fff;
    border-radius: 6px;
    margin-top: 12px;
}

form button:hover, a.button:hover{
    text-decoration: none;
}

form button{
    justify-self: start;
}

form a.button{
    justify-self: end;
    cursor: pointer;
    display: flex   ;
    justify-content: center;
    align-items: center;
}


/* Modal PageIdeia   */

#page-ideias #container{
    display: block;
}
#page-ideias header{
    display: flex;
    justify-content: space-between;
}

#page-ideias nav{
    display: flex;
    align-items: center;
}

#page-ideias nav li{
    list-style: none;
    margin-right: 16px;
}

#page-ideias nav li:last-child {
    margin-right: 0;
}

#page-ideias nav li:last-child a{
    color: white;
    width: 150px;
    height: 40px;
    background: #dc143c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

section#title{
   text-align: center;
}

section#title p{
    margin:  60px auto auto;
    opacity: 0.5;
}
section#title h1{
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

#page-ideias section#idea{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
